<div id="ContentPane" class="container-fluid">
  <div class="full-background full-background_browser-landing">
    <div class="wrapper">
      <h3 class="text-center">Download the <span class="nowrap">ReelTrail App</span></h3>
      <p class="small text-center">For the optimum ReelTrail experience on mobile, download our official app! It's <b>FREE</b>, and it's available on <span class="nowrap">iOS and Android.</span></p>
      <hr class="spacer">
      <div class="text-center">
	  	<a ng-click=""><img src="img/button_app-store.png" width="120" height="36" /></a> &nbsp;
	  	<a ng-click=""><img src="img/button-google-play.png" width="120" height="36" /></a>
      </div>
    </div>
  </div>
</div>
