<div class="rt_register_success_head">
  <div class="rt_success_title">Success!</div>
  <div class="rt_success_subtitle">Your Account has been Verified.</div>
</div>
<div id="ContentPane" class="container-fluid">
  <div id="ShoppingCart" class="no-bottom-nav">
  <div class="rt_rs_body_content">
    <div class="rt_rs_body_title">Welcome to ReelTrail!</div>
    <div class="rt_rs_body_subtitle">Let's start exploring</div>
    <div class="rt_rs_body_img">
        <img src="../../icon/new_subscription_success.png" alt="success_image">
    </div>
  </div>
  <div class="rt_rs_footer_btn">
    <div class="rt_rs_browse_listing_btn">
      <button class="btn rt_browse_btn" ng-click='rsc.browse()'>Browse Listings</button>
    </div>
    <div class="rt_rs_browse_myprofile_btn">
      <button class="btn rt_myprofile_btn" ng-click='rsc.profile()'>My Profile</button>
    </div>
  </div>
  <!-- <p class="text-center text-success">
      <span class="fa-stack fa-4x">
	<i class="fa fa-circle fa-stack-2x"></i>
	<i class="fa fa-user fa-stack-1x fa-inverse"></i>
      </span>
    </p> -->
    
    <!-- <p class="lead text-center">Success: your user account has been verified!
      <br><small class="text-muted smaller">Welcome to ReelTrail! Let's start exploring&hellip;</small>
    </p> -->
    <!-- <p class="small">Please check your email for further instructions. Be sure to check your spam/junk folders, too!</p>
    <hr/>
    <button class="btn btn-primary btn-lg btn-block" ng-click='rsc.browse()'>Browse Listings</button>
    <button class="btn btn-info btn-block" ng-click='rsc.profile()'>My Profile</button> -->
  </div>
</div>
