.rt_select_box_div{
    background: #062C40;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: -20px;
}
.rt_select_box{
    color: #2E87BF;
    background: #062C40;
    font-size: 18px;
    font-weight: 500;
    border: 0px;
    border-bottom: 1px solid #fff;
}
.rt_notification_message{
    font-size: 18px;
    font-weight: 700;
    color: #5D9101;
}
.rt_date_next_line{
    clear: both;
}
.rt_notification_date{
    font-size: 14px;
    font-weight: 500;
    color: #000028;
}