.rt_address_txt_div label{
    padding-left: 10px;
    font-size: 16px;
    color: #669900;
    display: block;
    margin: 20px 0;
}
.rt_address_txt_div input{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0px;
    height: 40px;
}
.rt_address_txt_div input::-webkit-input-placeholder{
    color: black !important;
    font-size: 16px;
}
.rt_address_txt_div .rt_add_address_select_state{
    border-bottom: 1px solid #ccc;
}
.rt_add_address_save_cancel_btn_div{
    text-align: center;
    margin: 40px 0;
}
.rt_add_address_save_btn{
    width: 160px;
    display: block;
    font-weight: 500;
    border-radius: 100px;
    font-size: 15px;
    background: #669900;
    border: none;
    color: #fff;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.rt_add_address_cancel_btn{
    width: 160px;
    font-weight: 500;
    border-radius: 100px;
    font-size: 15px;
    background: #062C40;
    border: none;
    color: #fff;
    height: 35px;
}