.rt_appsetting_PN_head {
    position: relative;
    padding: 5px;
    margin: 20px auto;
    background: #1d5977;
    display: block;
    width: 100%;
    height: 35px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    text-transform: none;
    font-size: 15px;
    letter-spacing: normal;
}
.rt_appsetting_PN_head:before {
	content: "";
	position: absolute;
	border-top: 5px solid #1d5977;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
    left: 50%;
    bottom: -10px;
    transform: translate(-50% , 0);
}
.rt_as_main_div{
    padding: 0 15px;
}
.rt_as_list_div{
    background-color: #F0F1F2;
    border-bottom: 1px solid #ccc;
}
.rt_as_list_txt{
    padding: 10px 0 10px 15px;
}
.rt_as_list_checkbox{
    text-align: right;
    padding: 20px 10px 0 10px;
}
.rt_as_list_title{
    font-size: 18px;
    color: #418601;
    font-weight: 600;
}
.rt_as_list_subtitle{
    font-size: 15px;
    color: #002A3E;
    margin-top: 5px;
}

/* round switch */
/* The switch - the box around the slider */
.rt_as_list_checkbox .switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .rt_as_list_checkbox .switch input {display:none;}
  
  /* The slider */
  .rt_as_list_checkbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .rt_as_list_checkbox .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 12px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .rt_as_list_checkbox input:checked + .slider {
    background-color: #669900;
  }
  
  .rt_as_list_checkbox input:focus + .slider {
    box-shadow: 0 0 1px #669900;
  }
  
  .rt_as_list_checkbox input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .rt_as_list_checkbox .slider.round {
    border-radius: 34px;
  }
  
  .rt_as_list_checkbox .slider.round:before {
    border-radius: 50%;
  }