<div id="ContentPane" class="container-fluid">
  <div id="ForgotPassword" class="no-bottom-nav">
    <!-- <p class="text-center text-primary">
      <span class="fa-stack fa-4x">
      	<i class="fa fa-circle fa-stack-2x"></i>
      	<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
    </p> -->
    <div class="rt_ec_img_cont">
      <img src="../../icon/email_check.png" alt="image">
    </div>
    <div class="rt_ec_body_cont">
      <div class="rt_ec_page_title">Please check your email</div>
      <div class="rt_ec_page_subtitle">and follow the instructions we sent you to recover your password.</div>
    </div>
   <!--  <p class="lead text-center">Please check your email
      <br/>
      <small class="text-muted smaller">for a 6-digit code and enter it in the textbox <span class="nowrap">provided below:</span></small>
    </p>
    <hr> 
    <form>
      <div class="form-group">
      	<label for="emailCode" class="control-label small">Email Code</label>
      	<input name="emailCode" type="text" cordova-keyboard class="form-control input-sm" ng-required="true" ng-model='rcc.emailCode'>
      </div>
      <hr class="spacer"/>
      <button class="btn btn-primary btn-block" ng-click='rcc.confirmCode()'>Next</button>
    </form> -->
    <hr class="spacer"/>
    <div class="rt_ec_footer_btn">
      <button class="btn rt_ec_backlogin_btn" ng-click='rcc.login()'>Back to Login</button>
    </div>
    <!-- <button class="btn btn-primary btn-block" ng-click='rcc.resend()'>Resend Code</button>
    <button class="btn btn-default btn-block" ng-click='rcc.login()'>Back to Login</button> -->
  </div>
</div>
