<div id="ContentPane" class="container-fluid rt_pn_contentpane">
  <form id="ForgotPassword" class="no-bottom-nav">
    <div class="form-group rt_pn_np_block">
      <label for="newPassword" class="control-label small">New Password</label>
      <input name="newPassword" type="password" cordova-keyboard class="form-control input-sm" ng-required="true" ng-model='rnc.newPassword' placeholder="Enter your New Password">
      <p class="help-block">Use numbers and symbols to make it hard for anyone to guess. Don't share your passwords with anyone else.</p>
    </div>
    <div class="form-group rt_pn_cp_block">
      <label for="confirmNewPassword" class="control-label small">Confirm New Password</label>
      <input for="confirmNewPassword" type="password" cordova-keyboard class="form-control input-sm" ng-required="true" ng-model='rnc.confirmNewPassword' placeholder="Confirm your New Password">
    </div>
    <hr class="spacer"/>
    <div class="rt_pn_btn_cont">
      <button class="btn rt_pn_btn" ng-click='rnc.savePassword()'>Save Password</button>
    </div>
  </form>
</div>
