/*Password New custom Css*/

.rt_pn_contentpane {
    padding: 0 25px;
}
.rt_pn_np_block label {
    font-size:16px;
    font-weight: bold;
    color: #669900;
    padding-left: 12px;
    margin-bottom: 30px;    
}
.rt_pn_np_block input {
    color:#062c3f;
    font-size: 16px;
    border-bottom-color: #aeaeae;
    padding: 0 12px 20px;
    margin-bottom: 20px;
}
.rt_pn_np_block input:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
}
.rt_pn_np_block input::-webkit-input-placeholder {
    color: #062c3f;
}
.rt_pn_np_block input::-moz-placeholder {
    color: #062c3f;
}
.rt_pn_np_block p {
    margin: 0 0 25px 0;
    color: #399DDE;
    font-size: 16px;
}

.rt_pn_cp_block label {
    font-size:16px;
    font-weight: bold;
    color: #669900;
    padding-left: 12px;
    margin-bottom: 30px;
}
.rt_pn_cp_block input {
    color:#062c3f;
    font-size: 16px;
    border-bottom-color: #aeaeae;
    padding: 0 12px 20px;
    margin-bottom: 20px;
}
.rt_pn_cp_block input:focus {
    outline: none;
    border-color: none;
    box-shadow: none;
}
.rt_pn_cp_block input::-webkit-input-placeholder {
    color: #062c3f;
}
.rt_pn_cp_block input::-moz-placeholder {
    color: #062c3f;
}

.rt_pn_btn_cont {
    text-align: center;
}
.rt_pn_btn_cont .rt_pn_btn {
    height: 45px;
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #669900;
    font-size: 16px;
    width: 60%;
    font-weight: bold;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}